html {
    height: 100%;
}
.title {
	font-family: "Lily Script One";
	font-size: 15vh;
    position: relative;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*background: linear-gradient(0deg, #8db1ab, #cee397, #f4e04d);*/
    background: linear-gradient(0deg, #d78a76, #f2a541, #f4e04d);
}
table {
    font-family: "Lexend";
    font-size: 25px;
    border-collapse: collapse;
    border: solid 5px black;
    position: relative;
    top: 25px;
}
td {
    background-color: white;
    width: 30px;
    height: 30px;
    border: solid 1px silver;
    text-align: center;
}
#dice {
    box-shadow: 5px 5px 7px rgba(0,0,0,0.2);
    border-radius: 10px;
    position: relative;
    left: 350px;
    top: 100px;
}