:root {
    --degrees: 45deg;
}
html {
    height: 100%;
}
.title {
	font-family: "Lily Script One";
	font-size: 15vh;
    position: relative;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*background: linear-gradient(0deg, #8db1ab, #cee397, #f4e04d);*/
    background: linear-gradient(0deg, #d78a76, #f2a541, #f4e04d);
}
table {
    font-family: "Lexend";
    font-size: 25px;
    border-collapse: collapse;
    border: solid 5px black;
    position: relative;
    top: 25px;
}
td {
    background-color: white;
    width: 30px;
    height: 30px;
    border: solid 1px silver;
    text-align: center;
}
.dice-container {
    position: relative;
    width: 150px;
    height: 150px;
    left: 300px;
    top: 150px;
    perspective: 1000px;
    perspective-origin: 100% 50%;
}
#cube {
    position: relative;
    width: 150px;
    height: 150px;
    transform-style: preserve-3d;
    animation-name: dough;
    animation-duration: 1s;
    animation-timing-function: linear;
}
.dice-face {
    align-items: center;
    justify-content: center;
    opacity: 1;
    box-shadow: 5px 5px 7px rgba(0,0,0,0.2);
    border-radius: 10px;
    position: absolute;
    /*left: 350px;
    top: 100px;*/
}
#d1 {
    transform: translateZ(75px);
}
#d2 {
    transform: translateX(-75px) rotateY(90deg);
}
#d3 {
    transform: translateX(75px) rotateY(90deg);
}
#d4 {
    transform: translateY(75px) rotateX(90deg);
}
#d5 {
    transform: translateY(-75px) rotateX(90deg);
}
#d6 {
    transform: translateZ(-75px);
}
@keyframes diceAnimation {
    100% {
        transform: rotateX(455deg) rotateY(455deg);
    }
}